<h1> Create An Article</h1>

<<<<<<< HEAD
<% if @article.errors.any? %>
<h2>Followings errors are occurred while creating new article!</h2>
<ul>
  <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %></br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
=======
<%= render "form" %>
>>>>>>> 590dc656cf32633e1d656d4437e59b86b7c881a0
