<h1>Showing selected articles</h1>

<p>Title: <%= @article.title %> </p>
<p>Article Type: <%= @article.article_type %> </p>
<p>Description: <%= @article.description %> </p>

<%= link_to "Back to listing", articles_path %> | 
<%= link_to "Edit this article", edit_article_path(@article) %>